.button-container {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 50px);
  gap: 10px;
}

/* button {
  width: 100px;
  height: 50px;
} */

.seven {
  grid-column: 1;
  grid-row: 1;
}
.eight {
  grid-column: 2;
  grid-row: 1;
}
.nine {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 1;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 2;
}
.one {
  grid-column: 1;
  grid-row: 3;
}
.two {
  grid-column: 2;
  grid-row: 3;
}
.three {
  grid-column: 3;
  grid-row: 3;
}
.zero {
  grid-column: 1 / 3;
  grid-row: 4;
}
.divide {
  grid-column: 4;
  grid-row: 1;
}
.multiple {
  grid-column: 4;
  grid-row: 2;
}
.minus {
  grid-column: 4;
  grid-row: 3;
}
.plus {
  grid-column: 4;
  grid-row: 4;
}
.equal {
  grid-column: 4;
  grid-row: 5;
}