body {
  padding: 20px;
}
#profile {
  width: 700px;
  height: 600px;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  margin: 0 auto;
}

h1 {
  text-align: center;
  top: 20px;
}

#user {
  text-align: center;
}

#information {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
#background {
  display: flex;
  flex-flow: column;
}
ul {
  list-style-position: inside;
}
#academic {
  margin: 10px;
}
#career {
  margin: 10px;
}