* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'RobotoMono';
  src: url(./fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Quicksand';
  src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'NotoSerifJP';
  src: url(./fonts/NotoSerifJP-VariableFont_wght.ttf);
}
html {
  height: 100%;
  font-family: 'RobotoMono';
}

body {
  height: 100%;
  background: linear-gradient(40deg, white, rgba(0, 255, 255, 0.75));
}

#linktosnippet {
  display: flex;
  flex-flow: column;
}